@import "tailwindcss";

:root {
  --color-primary: #101f22;
  --color-secondary: #13C8EC;
  --color-text: white;
  --color-borde: #234248;
}

@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-borde: var(--color-borde);
}

body {
  margin: 0;
  font-family: 'inter', sans-serif;
  color: var(--color-text);
  background-color: var(--color-primary);
}

button , a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}