@import "tailwindcss";

:root {
  --color-primary: #4FA3FF;
  --color-secondary: #25a7a7;
  --color-text: black;
  --color-borde: #234248;
  --background-dark: #f8fbff;
  --surface-dark: #172a2d;
}

@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-borde: var(--color-borde);
    --color-background-dark: var(--background-dark);
    --color-surface-dark: var(--surface-dark);
    
}

body {
  margin: 0;
  font-family: 'inter', sans-serif;
  color: var(--color-text);
  background-color: white;
}

button , a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out;
}
