---
import Asidebar from '../components/Asidebar';
import FaceGlasses from '../components/FaceGlasses';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="grid grid-cols-12">
		<div class="lg:col-span-9 col-span-12 relative h-screen">
			<FaceGlasses client:only="react" />
		</div>
		<div class="lg:col-span-3 col-span-12 relative overflow-y-hidden ">
			<Asidebar client:only="react"/>
		</div>
	</section>
</Layout>
