---
import HeaderSummary from "../components/HeaderSummary.astro";
import Layout from "../layouts/Layout.astro";
import MetodoPagoPadre from "../components/metodoPago/MetodoPagoPadre"
---

<Layout>
    <main
        class="grow py-35 md:py-28 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto w-full"
    >
        <HeaderSummary step="3" />

        <div class="w-full max-w-300 flex flex-col lg:flex-row gap-8">

            <MetodoPagoPadre client:only="react"/>
        </div>
    </main>
</Layout>
