---

import Layout from "../layouts/Layout.astro";
import HeaderSummary from "../components/HeaderSummary.astro";
import PagosPadre from "../components/pagos/PagosPadre";
---

<Layout>
    <main class="grow py-35 md:py-28 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto w-full">
        <HeaderSummary step='2'/>
        <PagosPadre client:only="react"/>
    </main>
</Layout>
