---
import Layout from "../layouts/Layout.astro";
import ProductDetail from "../components/ProductDetail.jsx";
---

<Layout>
    <main class="grow w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-6 pb-20">
        <ProductDetail client:only="react" />
    </main>
</Layout>
